.board-container {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  box-sizing: border-box;
}

.category {
  flex: 0 1 auto;
  min-width: 300px;
  margin: 10px;
  box-sizing: border-box;
}

.tickers {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 10px;
}

.ticker {
  border: 1px solid #ceced2;
  display: inline-block;
  vertical-align: top;
  /* Убираем отступы слева и справа */
  margin: 0; 
  padding-top: 5px;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.2s;
}

.ticker:hover {
  transform: scale(1.05);
}

dl {
  width: 95px;
  margin: 0;
  padding: 0;
}

dt {
  margin: 0;
  padding: 2px;
  font-size: 18px;
  line-height: 1.2;

  background-color: rgba(128, 128, 128, 0.3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

dt span {
  display: block;
  font-size: 12px;
  font-weight: normal;
}

dd {
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: 12px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

dd h2 {

  font-size: 14px;
  font-weight: bold;
}

.effect2 {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
