<div class="board-container" id="desk">
  <ng-container *ngIf="sectors.length > 0; else noData">
    <div class="category effect2" *ngFor="let sector of sectors; trackBy: trackBySector">
      <div class="category-title">
        <h6>
          <a [href]="getSectorLink(sector)" target="_blank" rel="noopener noreferrer">
            {{ sector.name }}
          </a>
        </h6>
      </div>
      <div class="tickers">
        <div
          *ngFor="let n of sector.items; trackBy: trackByTicker"
          class="ticker"
          [style.backgroundColor]="n.color"
          (click)="onTickerClick(n)"
        >
          <dl>
            <dt>{{ n.ticker }}<br /><span class="ticker-name">{{ n.name1 || n.name }}</span></dt>
            <dd><h2>{{ n.cls ?? '' }}</h2></dd>
            <dd class="percent" [class.positive]="n.percent > 0" [class.negative]="n.percent < 0">
              {{ formatPercent(n.percent) }}
            </dd>
            <dd>V: {{ n.value | moneyToStr }}</dd>
          </dl>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noData>
    <div class="no-data">Нет данных</div>
  </ng-template>
</div>
