<div #board class="board-container" id="desk" (mouseleave)="onBoardLeave()">
  <ng-container *ngIf="sectors.length > 0; else noData">
    <div class="category effect2" *ngFor="let sector of sectors; trackBy: trackBySector">
      <div class="category-title">
        <h6>
          <a class="board-title-link" [href]="getSectorLink(sector)" target="_blank" rel="noopener noreferrer">
            {{ sector.name }}
          </a>
        </h6>
      </div>
      <div class="tickers">
        <div
          *ngFor="let n of sector.items; trackBy: trackByTicker"
          class="ticker"
          [style.backgroundColor]="resolveTickerColor(n)"
          (click)="onTickerClick(n)"
          (mouseenter)="onTickerEnter($event, n)"
          (mouseleave)="onTickerLeave()"
        >
          <dl>
            <dt>{{ n.ticker }}<br /><span class="ticker-name">{{ n.name1 || n.name }}</span></dt>
            <dd><h2>{{ n.cls ?? '' }}</h2></dd>
            <dd class="percent">
              {{ formatPercent(n.percent) }}
            </dd>
            <dd>V: {{ n.value | moneyToStr }}</dd>
          </dl>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noData>
    <div class="no-data">Нет данных</div>
  </ng-template>

  <div
    class="board-tooltip"
    [class.board-tooltip-hidden]="!tooltipVisible"
    [style.left.px]="tooltipLeft"
    [style.top.px]="tooltipTop"
    [style.width.px]="tooltipWidth"
    [style.height.px]="tooltipHeight"
  >
    <div class="board-tooltip-body">
      <ng-template #tooltipHost></ng-template>
      <div class="tooltip-text" *ngIf="tooltipTextHtml" [innerHTML]="tooltipTextHtml"></div>
    </div>
  </div>
</div>
