.treemap-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.treemap-node {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #fff;
  overflow: hidden;
}

.treemap-node span {
  display: block;
  padding: 5px;
  font-size: 12px;
  color: #000;
}
