.table-container {
    max-width: 1100px;
    margin: 0 auto; /* Центрирование таблицы на странице */
    overflow-x: auto; /* Позволяет горизонтальную прокрутку, если содержимое превышает 1100px */
  }

.empty-state {
  padding: 1rem 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
  
