<div data-role="view" id="Barometer" data-title="Барометр рынка"
     data-use-native-scrolling="false"
     data-model="APP.Barometer.model"
     data-init="APP.Barometer.events.init">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" data-rel="drawer" href="#drawer" data-icon="drawer-icon" data-align="left"></a>
        </div>        
    </header>
    <div data-role="content" style="width: 100%; ">        
	     <div id="barometergrid"></div>
    </div>
</div>

