.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    width: 400px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .login-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .error-message {
    color: red;
    margin-top: 20px;
  }

  .links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }