

<mat-tab-group>
    <mat-tab label="Топ торгов">
      <app-leaderboard-table
        [market]="'20'"
        [type]="'0'"
        [instanceId]="'leaderboard112'"
      ></app-leaderboard-table>
    </mat-tab>           
    <mat-tab label="Топ роста">
      <app-leaderboard-table
        [market]="'20'"
        [type]="'1'"
        [instanceId]="'leaderboard113'"
      ></app-leaderboard-table>
    </mat-tab>        
    <mat-tab label="Топ падения">
      <app-leaderboard-table
        [market]="'20'"
        [type]="'2'"
        [instanceId]="'leaderboard114'"
      ></app-leaderboard-table>
    </mat-tab>        
  </mat-tab-group>