.flex-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px; /* Интервал между элементами */
    align-items: center; /* Выравнивание элементов по вертикальной оси */
  }
  
  .flex-item {
    flex: 1 1 auto; /* Пропорциональное растягивание элементов */
    min-width: 150px; /* Минимальная ширина элементов */
  }
  
  mat-card {
    padding: 16px; /* Отступ внутри карточки */
    margin-bottom: 20px; /* Отступ снизу */
  }

  .container {
    width: 1150px;
    margin: 0 auto;

  }
  
mat-card {

   margin: 0 auto;
 margin-top: 12px;
}
