@charset "UTF-8";
/*
 * Example of RSS Ticker Styling
 *
 */


.rssFeed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	width: 100%;
	margin-bottom: 1em;
}
/*
.rssFeed a {
	color: #33a;
	text-decoration: none;
}
.rssFeed a:hover {
	color: #33d;
	text-decoration: underline;
}
*/
.rssHeader { padding: 0.2em 0; }

.rssBody { border: 1px solid #ceced2; }
.rssRow h4, .rssRow p, .rssRow div {
	margin: 0;
	padding: 0.5em;
}


#rss .odd { background-color: #fff; }
#rss .even { background-color: #f5f5f5; }