<mat-dialog-content class="dense-space">
  <mat-toolbar class="markup-toolbar">
    <mat-button-toggle-group
      class="markup-toggle-group"
      [multiple]="false"
      [value]="activeTool"
      (change)="onToolChange($event.value)"
      [hideSingleSelectionIndicator]="true"
    >
      <mat-button-toggle
        *ngFor="let def of toolbarDefinitions"
        [value]="def.type"
        class="markup-toggle"
        [matTooltip]="def.displayName"
      >
        <mat-icon
          *ngIf="def.icon"
          class="markup-toggle-icon"
          [class.rotate-icon]="def.type === 'Profile'"
        >
          {{ def.icon }}
        </mat-icon>
        <span *ngIf="!def.icon">{{ def.displayName }}</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar>

  <fieldset class="markup-editor-fieldset">
    <ul class="markup-editor-list">
      <li>
        {{ activeDefinition?.displayName || activeTool }}
        <div class="markup-editor-desc" *ngIf="activeDefinition?.description">
          {{ activeDefinition.description }}
        </div>
      </li>

      <li *ngIf="canDelete">
        <button mat-raised-button (click)="onDelete($event)">
          <mat-icon>delete</mat-icon>
          Удалить
        </button>
      </li>

      <ng-container *ngIf="activeDefinition?.paramsSchema as schema">
        <ng-container *ngFor="let kv of schema | keyvalue">
          <ng-container *ngIf="!kv.value.hidden">
            <li>
              <ng-container [ngSwitch]="kv.value.type">
                <ng-container *ngSwitchCase="'color'">
                  <mat-form-field appearance="fill">
                    <mat-label>{{ kv.value.title }}</mat-label>
                    <input
                      matInput
                      type="color"
                      [(ngModel)]="getFieldTarget(kv.value)[kv.key]"
                      (change)="onParamsChanged(kv.value)"
                    />
                  </mat-form-field>
                </ng-container>

                <mat-form-field *ngSwitchCase="'int'" appearance="fill">
                  <mat-label>{{ kv.value.title }}</mat-label>
                  <input
                    matInput
                    type="number"
                    [min]="kv.value.min"
                    [max]="kv.value.max"
                    [step]="kv.value.step"
                    [(ngModel)]="getFieldTarget(kv.value)[kv.key]"
                    (change)="onParamsChanged(kv.value)"
                  />
                </mat-form-field>

                <mat-form-field *ngSwitchCase="'float'" appearance="fill">
                  <mat-label>{{ kv.value.title }}</mat-label>
                  <input
                    matInput
                    type="number"
                    [min]="kv.value.min"
                    [max]="kv.value.max"
                    [step]="kv.value.step"
                    [(ngModel)]="getFieldTarget(kv.value)[kv.key]"
                    (change)="onParamsChanged(kv.value)"
                  />
                </mat-form-field>

                <mat-checkbox
                  *ngSwitchCase="'bool'"
                  [(ngModel)]="getFieldTarget(kv.value)[kv.key]"
                  (change)="onParamsChanged(kv.value)"
                >
                  {{ kv.value.title }}
                </mat-checkbox>

                <mat-form-field *ngSwitchCase="'enum'" appearance="fill">
                  <mat-label>{{ kv.value.title }}</mat-label>
                  <mat-select
                    [(ngModel)]="getFieldTarget(kv.value)[kv.key]"
                    (selectionChange)="onParamsChanged(kv.value)"
                  >
                    <mat-option *ngFor="let opt of kv.value.options || []" [value]="opt.value">
                      {{ opt.label }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngSwitchCase="'text'" appearance="fill">
                  <mat-label>{{ kv.value.title }}</mat-label>
                  <textarea
                    matInput
                    [rows]="kv.value.rows || 3"
                    [(ngModel)]="getFieldTarget(kv.value)[kv.key]"
                    (keyup)="onParamsChanged(kv.value)"
                    (change)="onParamsChanged(kv.value)"
                  ></textarea>
                </mat-form-field>
              </ng-container>
            </li>
          </ng-container>
        </ng-container>
      </ng-container>
    </ul>
  </fieldset>
</mat-dialog-content>
