<div class="service-news-container">
  <mat-card class="table-card">
    <mat-card-header>
      <mat-card-title>Лента блогов</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="table-toolbar">
        <button mat-stroked-button color="primary" routerLink="/ServiceNews/Create">
          Создать тему
        </button>
      </div>

      <table mat-table [dataSource]="dataSource" matSort class="custom-table">
        <!-- Столбец Date -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef>Дата</th>
          <td mat-cell *matCellDef="let topic" class="date-cell">
            <b>{{ topic.Date }}</b>
          </td>
        </ng-container>

        <!-- Столбец Header -->
        <ng-container matColumnDef="Header">
          <th mat-header-cell *matHeaderCellDef>Тема</th>
          <td style="text-align: left" mat-cell *matCellDef="let topic">
            <a [routerLink]="['/ServiceNews/Content/', topic.Slug]">{{ topic.Header }}</a>
            <i>{{ topic.CommentCount > 0 ? "(" + topic.CommentCount.toString() + " отв" + ")" : "" }}</i>
          </td>
        </ng-container>

        <!-- Столбец Author -->
        <ng-container matColumnDef="Author">
          <th mat-header-cell *matHeaderCellDef>Автор</th>
          <td mat-cell *matCellDef="let topic" class="author-cell">{{ topic.Author }}</td>
        </ng-container>

        <!-- Строка заголовка -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Строка данных -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!-- Постраничная навигация -->
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
        (page)="onPageChange($event)">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
