.custom-table {
  width: 100%;
}

.custom-table mat-header-cell,
.custom-table mat-cell {
  padding: 8px 6px; /* Настройка отступов */
  line-height: 1.2; /* Настройка межстрочного интервала */
}

.custom-table tr {
  height: 32px; /* Установка высоты строк */
}
