@page "{Id}"
@model DeleteModel
@{
    ViewData["Title"]="Удалить тему";
}
<div class="widerightsidebar">
    <div class="block">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div style="padding:10px">
                <H2>Удалить тему "@Model.Header"?</H2>
                <p>
                    <input type="submit" value="Удалить" class="k-button" style="font-size:16px; padding: 5px" /><span style="padding:10px"></span>
                    <button onclick="history.back();" class="k-button" style="font-size:16px;padding: 5px">Отмена</button>
                </p>
            </div>
        }
    </div>
</div>

