.chart-container {
  position: relative;
  height: 400px;
  width: 100%;
}

mat-card {
  margin: 20px;
}

mat-form-field {
  width: 100%;
  margin-right: 20px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

button {
  margin-left: 20px;
}
