.form-container {
  display: grid;
  gap: 10px; /* Отступ между элементами */
  grid-auto-flow: row; /* Перенос элементов на новую строку */
  padding: 10px; /* Отступы вокруг контейнера */
}

.form-container > * {
  width: calc(100% - 20px); /* Все элементы занимают 100% ширины контейнера с учетом отступов */
}
