<mat-form-field class="elementWidth">
  <mat-label>Загрузка</mat-label>
  <mat-select [(ngModel)]="loadMode" name="svech" (selectionChange)="onLoadModeChange($event.value)">
    <mat-option value="candles">Свечи</mat-option>
    <mat-option value="clusters">Свечи+Кластера</mat-option>
    <mat-option value="arbitrage">Арбитраж</mat-option>
  </mat-select>
</mat-form-field>

<div class="elementWidth" style="width: 250px;" *ngIf="!isArbitrageMode()">
  <app-ticker-autocomplete
    name="autocomplete1"
    [(ngModel)]="params.ticker"
    (tickerChange)="onTickerSelected($event)"
  ></app-ticker-autocomplete>
</div>

<div class="elementWidth" style="width: 250px;">
  <app-date-range-picker enableSetTime="true"></app-date-range-picker>
</div>

<div class="elementWidth" style="width: 250px;" *ngIf="!isArbitrageMode()">
  <app-date-range-selector
    #presetSelector
    [ticker]="params.ticker"
    [rperiod]="params?.rperiod"
    (selectionChange)="applyPreset($event)"
  ></app-date-range-selector>
</div>

<div class="elementWidth" style="width: 250px;">
  <app-combobox
    [label]="'Период'"
    [(value)]="params.period"
    [items]="presets2"
    (selectionChange)="SelectPeriod($event)"
  ></app-combobox>
</div>

<mat-form-field class="elementWidth" *ngIf="!isArbitrageMode()">
  <mat-label>Шаг</mat-label>
  <input
    name="sh"
    matInput
    [(ngModel)]="params.priceStep"
    [min]="params.minStep"
    [step]="params.minStep"
    type="number"
    (input)="refresh()"
  />
</mat-form-field>

<mat-form-field class="elementWidth" *ngIf="isArbitrageMode()">
  <mat-label>Портфель 1</mat-label>
  <input
    name="portfolio1"
    matInput
    [(ngModel)]="params.ticker1"
    (input)="onArbitrageTickersChange()"
  />
</mat-form-field>

<mat-form-field class="elementWidth" *ngIf="isArbitrageMode()">
  <mat-label>Портфель 2</mat-label>
  <input
    name="portfolio2"
    matInput
    [(ngModel)]="params.ticker2"
    (input)="onArbitrageTickersChange()"
  />
</mat-form-field>
