/* Размер компонента берется от контейнера роутера */
:host {
  display: block;
  height: 100%;
  min-height: 0;
}

/* Стили для компонента marketmap */
.content {
  position: relative;
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  min-height: 0;
}

/* Стили для родительских компонентов */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto; /* Разрешаем прокрутку */
}

.sidenav-container {
  height: 100%;
}

.sidenav-content {
  flex: 1;
  overflow: auto;
}

.main-content {
  flex: 1;
  position: relative;
  overflow: auto;
}
