 .wrapper-menu {
     width: 40px;
     height: 25px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     cursor: pointer;
     transition: transform 330ms ease-out;
 }

 .wrapper-menu.open {
     transform: rotate(-45deg);
 }

 .line-menu {
     background-color: #555;
     border-radius: 5px;
     width: 100%;
     height: 4px;
 }

 .line-menu.half {
     width: 50%;
 }

 .line-menu.start {
     transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
     transform-origin: right;
 }

 .open .line-menu.start {
     transform: rotate(-90deg) translateX(3px);
 }

 .line-menu.end {
     align-self: flex-end;
     transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
     transform-origin: left;
 }

 .open .line-menu.end {
     transform: rotate(-90deg) translateX(-3px);
 }

 .btn-toggle {
     margin-right: 5px;
 }

 .toolbar-spacer {
     flex: 1 1 auto;
 }

 .right-nav {
     display: flex;
 }

 #h21 {
    font-family: 'Fira Sans', sans-serif;
    color: #555;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
#h31 {
    font-family: 'Fira Sans', sans-serif;
    color: #dd412a;
    font-size: 30px;
    margin: 0;
    padding: 0;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Устанавливаем высоту на 100% от вьюпорта */
  }
  
  

  .mat-toolbar {
    flex-shrink: 0; /* Toolbar имеет фиксированную высоту */
    position: sticky;
    top: 0;    
  z-index: 1000;
  /* Остальные стили */
}

/* Устанавливаем более высокий z-index для cdk-overlay-container */
.cdk-overlay-container {
  z-index: 1001;
}
  
  
  .content-wrapper {
    flex-grow: 1; /* Растягиваем контент на оставшуюся высоту */
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .full-height {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  

