
@{
    ViewBag.Title = "Ошибка!";
}
<h2>
    Внутренняя ошибка сервера. Сообщите на ruticker@gmail.com <br>
    В письме обязательно укажите ссылку на страницу сайта с ошибкой или скриншот и опишите обстоятельства возникновления проблемы. Сообщения вроде "Сайт последнее время не очень хорошо работает" ставят разработчиков в тупик.
</h2>
