/* users-pay-stats.component.css */
.table-card {
    max-width: 1600px;
    margin: 20px auto;
  }
  
  .custom-table {
    width: 100%;
    overflow-x: auto;
  }
  
  .element-row:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .detail-row {
    height: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .expand-icon {
    cursor: pointer;
  }
  
  .inner-table {
    width: 100%;
  }
  
  .mat-icon {
    vertical-align: middle;
  }
  
  