.blogblock {
    border-style: solid;
    border-color: #ceced2;
    margin-top: 8px;
    display: inline-block;
    border-width: 1px;
    background: #fff;
    padding: 10px;
    width: calc(100% - 22px);
  }
  
  .blogblock img {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    max-width: 950px;
    margin: 0 10px 5px 0;
  }
  
  .blogblock img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 30px gray;
    -webkit-box-shadow: 0 0 30px gray;
    -moz-box-shadow: 0 0 30px gray;
    max-width: 1440px;
  }

  .container {
    width: 100%;
    max-width: 1250px;
    min-width: 750px;
    margin: 0 auto;
  }
  
  mat-card {
    margin: 12px;
  }