/* user-table.component.css */
.table-card {
  max-width: 1600px;
  margin: 20px auto;
}

.custom-table {
  width: 100%;
  overflow-x: auto;
}

.element-row:hover {
  background-color: #f5f5f5;
}

.mat-form-field.filter-field {
  width: 100%;
  margin-bottom: 20px;
}
