h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    display: flex;
    align-items: flex-start; /* Иконка всегда будет выровнена по верхнему краю текста */
    margin-bottom: 10px; /* Увеличиваем расстояние между элементами списка */
    font-size: 0.9em; 
    line-height: 1.4; /* Добавляем межстрочный интервал для лучшей читаемости */
  }
  
  li mat-icon {
    margin-right: 10px;
    flex-shrink: 0; /* Иконка не будет сжиматься */
  }
  
  p {
    font-style: italic;
    color: #757575;
    display: flex;
    align-items: center;
  }
  
  p mat-icon {
    margin-right: 8px;
  }
  