<!-- header.component.html -->
<mat-toolbar>
  <button mat-icon-button (click)="menuToggle.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <b class="center-text">
    <span id="h31">Stock</span><span id="h21">Chart<span id="h31">.</span>ru</span>
  </b>

  <span class="spacer"></span>

  <span class="right-actions">
    <button
      *ngIf="showMcpDrawerButton"
      mat-icon-button
      (click)="mcpDrawerToggle.emit()"
      aria-label="Open MCP chats drawer"
    >
      <mat-icon>chat</mat-icon>
    </button>
    <button
      *ngIf="showSettingsButton && fullscreenSupported"
      mat-icon-button
      (click)="toggleFullscreen()"
      [attr.aria-label]="isFullscreen ? 'Exit fullscreen' : 'Enter fullscreen'"
    >
      <mat-icon>{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
    </button>
    <button *ngIf="showSettingsButton" mat-icon-button (click)="openSettings()">
      <mat-icon>settings</mat-icon>
    </button>
  </span>
</mat-toolbar>
