<div data-role="view" id="MicexTab"  data-title="Акции" 
     data-use-native-scrolling="false"
      data-init="APP.MicexTab.events.init">
    <header data-role="header">
        <div data-role="navbar">            
            <span data-role="view-title"></span>
            <a data-role="button" data-rel="drawer" href="#drawer" data-icon="drawer-icon" data-align="left"></a>
        </div>
    </header>
    <div data-role="content" style="width: 100%; ">        
        <div id="tabstrip">            
                <ul>
                    <li>Топ объема</li>
                    <li>Топ роста</li>
                    <li>Топ падения</li>
                </ul>
                <div>        <div id="DayVolumeLeaders">        </div>      </div>
                <div>        <div id="DayGrowLeaders">        </div>      </div>
                <div>        <div id="DayFallLeaders">        </div>      </div>
</div>
    </div>
</div>
