.container {
  width: 1150px;
  margin: 0 auto;
}

.widerightsidebar {
  width: 100%;
 
}

.blogblock {
  margin: 20px;
}

.chart-container {
  width: 100%;
}

.chart-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chart-item,
.chart-item-full {
  flex: 1;
  margin: 10px;
}

.chart-item canvas,
.chart-item-full canvas {
  width: 100%;
  height: 450px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .chart-row {
    flex-direction: column;
  }

  .chart-item {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .chart-item {
    flex: 1 1 48%;
  }
}

@media (min-width: 1201px) {
  .chart-item {
    flex: 1 1 48%;
  }
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px; /* Интервал между элементами */
  align-items: center; /* Выравнивание элементов по вертикальной оси */
}

.flex-item {
  flex: 1 1 auto; /* Пропорциональное растягивание элементов */
  min-width: 150px; /* Минимальная ширина элементов */
}


mat-card {
    
  width: 1050px;
   margin: 0 auto;
 margin-top: 12px;
}
