.table-card {
    max-width: 1600px;
    margin: 20px auto; /* Центрирование карточки с отступом сверху и снизу */
  }
  
  .custom-table {
    width: 100%;
    overflow-x: auto; /* Добавляет горизонтальную прокрутку при необходимости */
  }
  