.table-container {
    max-width: 1100px;
    margin: 0 auto; /* Центрирование таблицы на странице */
    overflow-x: auto; /* Позволяет горизонтальную прокрутку, если содержимое превышает 1100px */
    background: #fff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 20px;
  }
  
