<div class="container">
  <mat-card class="blogblock">
    <mat-card-content>
      <div class="table-container">
        <h2>Финансовый показатель {{ displayName }} для компании {{ companyName }}: </h2>

        <mat-tab-group>
          <mat-tab label="МСФО">
            <app-company-table [ticker]="ticker" standart="MSFO" period="y" [filter]="nameToFilter"></app-company-table>
          </mat-tab>
          <mat-tab label="РСБУ">
            <app-company-table [ticker]="ticker" standart="RSBU" period="y" [filter]="nameToFilter"></app-company-table>
          </mat-tab>
        </mat-tab-group> 

        <h3>Значения {{ displayName }} по годам для компании {{ companyName }}:</h3>
        <div class="canvas-container">
          <canvas #yearChartCanvas></canvas>
        </div>

        <h3>Изменения {{ displayName }} по годам (в процентах) для компании {{ companyName }}:</h3>
        <div class="canvas-container canvas-spaced">
          <canvas #yearChangeChartCanvas></canvas>
        </div>

        <mat-tab-group>
          <mat-tab label="МСФО">
            <app-company-table [ticker]="ticker" standart="MSFO" period="q" [filter]="nameToFilter"></app-company-table>
          </mat-tab>
          <mat-tab label="РСБУ">
            <app-company-table [ticker]="ticker" standart="RSBU" period="q" [filter]="nameToFilter"></app-company-table>
          </mat-tab>
        </mat-tab-group> 

        <h3>Значения {{ displayName }} по кварталам для компании {{ companyName }}:</h3>
        <div class="canvas-container canvas-spaced">
          <canvas #quarterChartCanvas></canvas>
        </div>

        <h3>Изменения {{ displayName }} по кварталам (в процентах) для компании {{ companyName }}:</h3>
        <div class="canvas-container canvas-spaced">
          <canvas #quarterChangeChartCanvas></canvas>
        </div>

        <ng-template #loading>
          <p>Загрузка данных...</p>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
</div>
