.subscription-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.subscription-container {
  padding: 20px;
  min-width: 800px;
  max-width: 1000px;
  width: 100%;
}

mat-card {
  margin-bottom: 20px;
}

mat-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 8px;
}

.center-button-cell {
  justify-content: center;
  align-items: center;
}

/* Праздничное оформление */
.festive-decor {
  background-color: #fffbe0;
  border: 2px solid #ffd700;
  border-radius: 10px;
  padding: 10px;
}

.festive-decor h2 {
  color: #d9534f;
  font-weight: bold;
}
