.table-container {
  max-width: 1100px;
  margin: 0 auto; /* Центрирование таблицы на странице */
  overflow-x: auto; /* Горизонтальная прокрутка для больших таблиц */
  background: #fff;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 20px;
}

.ticker-container {
  display: flex;
  flex-direction: row; /* Горизонтальная ориентация для больших экранов */
  align-items: center; /* Выравнивание по центру вертикально */
  margin-bottom: 20px;
}

.ticker-container p {
  flex-grow: 1; /* Текст занимает оставшееся пространство */
  margin-right: 10px; /* Отступ от изображения */
}

.ticker-logo {
  width: 200px; /* Ширина изображения */
  height: auto; /* Автоматическая высота в соответствии с пропорциями */
}

@media (max-width: 768px) {
  .ticker-container {
    flex-direction: column; /* Вертикальная ориентация для мобильных устройств */
    align-items: flex-start; /* Выравнивание по левому краю */
  }

  .ticker-logo {
    width: 100%; /* Картинка займет 100% ширины на мобильных */
    max-width: 300px; /* Максимальная ширина для изображения */
    margin-top: 10px; /* Отступ сверху на мобильных устройствах */
  }
}
