<div data-role="drawer" id="drawer" style="width: 17em" data-model="APP.drawer.model"  data-position="left" 
     data-use-native-scrolling="false"
     data-swipe-to-open-views="['MarketMap','MicexTab','RtsTab','BinTab','Barometer','Splash','Login','TopOrders','Alerts','Payment']"
     data-views="['MarketMap','MicexTab','RtsTab','BinTab','Barometer','Splash','MultiCandles','CandlesChart','FootPrint','Login','TopOrders','Alerts','Payment']">
    <center>   <b>  <span id="h31">Stock</span><span id="h21">Chart<span id="h31">.</span>ru</span> </b>       </center>
    <ul data-role="listview" data-style="group">
        <center>Ход торгов</center>
        <li>    <a data-role="button" href="#MarketMap">Карта рынка</a>  </li>
        <li>      <a data-role="button" href="#MultiCandles">Мультиграфики</a>   </li>
        <li>      <a data-role="button" href="#MicexTab">Лидеры акций Мосбиржи</a> </li>
        <li>     <a data-role="button" href="#RtsTab">Фьючерсы и валюта</a>  </li>
        <li>     <a data-role="button" href="#BinTab">Binance и СПБ биржа </a>  </li>
        <center>Сканер рынка</center>
        <li>      <a data-role="button" href="#Barometer">Барометр рынка</a>   </li>
        <li>      <a data-role="button" href="#Splash">Всплески объемов</a>   </li>
        <li>      <a data-role="button" href="#TopOrders">Крупнейшие сделки</a>   </li>
        <center>        Чарты        </center>
        <li>      <a data-role="button" href="#CandlesChart">Свечной график</a>   </li>
        <li>      <a data-role="button" href="#FootPrint">FootPrint чарт</a>   </li>
        <center>        Кабинет        </center>
        <li>      <a data-role="button" href="#Login">Авторизация</a>   </li>
        <li>      <a data-role="button" href="#Payment">Оплата</a>   </li>
    </ul>
</div>