.non-modal-dialog {
  position: relative;
  z-index: 1000;
  background: rgba(255, 255, 255, 0);
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow: hidden;
  z-index: 1000;
}
.cdk-overlay-pane {
  display: flex;
  justify-content: center;
  align-items: center;
}

.non-modal-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: var(--mat-sys-surface-container, #fff);
  color: var(--mat-sys-on-surface, #1f1f1f);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.non-modal-dialog-content {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 6px;
  overflow: auto;
}

.close-button {
  background: none;
  border: none;
  color: inherit;
  cursor: default;
  transition: transform 0.3s, color 0.3s;
}

.close-button:hover {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.3);
  //transform: scale(1.1);
}

.invisible-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Make sure it's above other elements */
  cursor: move; /* Optional: change cursor to indicate dragging */
}
