:host {
  display: block;
  width: 100%;
  height: 100%;
}

.mini-treemap {
  width: 100%;
  height: 100%;
}

.mini-tree {
  width: 100%;
  height: 100%;
}

.mini-title {
  font-size: 12px;
  font-weight: 600;
  color: #1f1f1f;
  line-height: 1.2;
}
