<table class="block2 grayblock" style="width:100%">
    <tbody>
        <tr><td class="corn_lt"><img src="/images/e.gif" style="width:6px; height:6px; border:none;"></td><td class="corn_ct"><img src="/images/e.gif" style="width:6px; height:6px; border:none;"></td><td class="corn_rt"><img src="/images/e.gif" style="width:6px; height:6px; border:none;"></td></tr>
        <tr>
            <td class="corn_lm"><img src="/images/e.gif" style="width:6px; height:6px; border:none;"></td>
            <td class="corn_content" style="width:100%" valign="top">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr valign="middle">
                            <td><a class="grayblink" href="/FootPrint">Кластерный график</a></td>
                        </tr>
                        <tr><td height="8px" width="99%"><div class="line"></div></td></tr>
                        <tr valign="middle">
                            <td><a class="grayblink" href="/FootPrint">Горизонтальные объемы</a></td>
                        </tr>
                        <tr><td height="8px" width="99%"><div class="line"></div></td></tr>
                        <tr valign="middle">
                            <td><a class="grayblink" href="/CandlestickChart/PairTrading">Парный трейдинг</a></td>
                        </tr>
                        <tr><td height="8px" width="99%"><div class="line"></div></td></tr>                        
                        <tr valign="middle">
                            <td><a class="grayblink" href="/Portfolio">Торговля на демо</a></td>
                        </tr>
                        <tr><td height="8px" width="99%"><div class="line"></div></td></tr>
                        <tr valign="middle">
                            <td><a class="grayblink" href="/Portfolio/Optimization">Балансировка портфеля</a></td>
                        </tr>
                        <tr><td height="8px" width="99%"><div class="line"></div></td></tr>
                        <tr valign="middle">
                            <td><a class="grayblink" href="/ShareImage">Опубликовать изображение</a></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Yandex.RTB R-A-16712414-1 -->
                <div id="yandex_rtb_R-A-16712414-1"></div>
                <script>
                    window.yaContextCb.push(() => {
                        Ya.Context.AdvManager.render({
                            "blockId": "R-A-16712414-1",
                            "renderTo": "yandex_rtb_R-A-16712414-1"
                        })
                    })
                </script>
            </td>
            <td class="corn_rm"></td>
        </tr>
        <tr><td class="corn_lb"></td><td class="corn_cb"></td><td class="corn_rb"></td></tr>
    </tbody>
</table>
<table class="block2 grayblock" style="width:100%">
    <tbody>
        <tr><td class="corn_lt"><img src="/images/e.gif" style="width:6px; height:6px; border:none;"></td><td class="corn_ct"><img src="/images/e.gif" style="width:6px; height:6px; border:none;"></td><td class="corn_rt"><img src="/images/e.gif" style="width:6px; height:6px; border:none;"></td></tr>
        <tr>
            <td class="corn_lm"><img src="/images/e.gif" style="width:6px; height:6px; border:none;"></td>
            <td class="corn_content" style="width:100%" valign="top">
                <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
                    <tbody>
                        <tr valign="middle">
                            <td align="center" valign="middle"><a href="/ServiceNews/Details/9"><img width="50" border="0" height="50" title="Котировки" alt="Котировки" src="/images/db3.png"></a></td>
                            <td align="center"><a class="grayblink" href="/ServiceNews/Details/9">База данных всех сделок</a></td>
                            <td align="center"></td>
                        </tr>
                        <tr align="center" valign="middle">
                            <td colspan="3" style="padding-top: 1px; padding-bottom: 1px;"><div class="line"> </div></td>
                        </tr>
                        <tr valign="middle">
                            <td align="center" valign="middle"><a href="/ServiceNews/Details/10"><img width="50" border="0" height="50" title="Услуги разработчиков" alt="Услуги разработчиков" src="/images/dev2.png"></a></td>
                            <td align="center">
                                <a class="grayblink" href="/ServiceNews/Details/10">
                                    Услуги разработчиков
                                </a>
                            </td>
                            <td align="center">&nbsp;</td>
                        </tr>
                        <tr align="center" valign="middle">
                            <td colspan="3" style="padding-top: 1px; padding-bottom: 1px;"><div class="line"> </div></td>
                        </tr>
                       
                    </tbody>
                </table>
            </td>
            <td class="corn_rm"></td>
        </tr>
        <tr><td class="corn_lb"></td><td class="corn_cb"></td><td class="corn_rb"></td></tr>
    </tbody>
</table>
<style>
    #full {
        height: 100%;
        width: 100%;
        background: #fff;
        display: table;
        border-top-style: solid;
        border-color: #ceced2;
        border-width: 1px;
    }

    #full2 {
        height: 70px;
        width: 65%;
        background: linear-gradient(to bottom, rgb(154, 154, 154) 0%, rgb(78, 78, 78) 61%, rgb(64, 64, 64) 100%);
        display: table;
        float: right;
    }

    #full1 {
        height: 70px;
        width: 65%;
        display: table;
        float: right;
        border-left-style: solid;
        border-color: #ceced2;
        border-width: 1px;
    }

    #child {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
</style>
<a href="/Support">
    <div class="block" style="padding:0px;width:100%">
        <div style="float: left; width: 34%; height: 70px;">
            <img border="0" src="/images/john2.png">
        </div>
        <div id="full1" class="k-header">
            <div id="child">
                <span style="font-size:16px;">Техническая поддержка</span>
            </div>
        </div>
        <div id="full">
            <div id="child">
                <span style="line-height: 25px;font-size:16px;    color: rgba(221, 65, 42, 1);">ONLINE</span>
            </div>
        </div>
    </div>
</a>
<table class="block2 grayblock" style="width:100%">
    <tbody>
        <tr><td class="corn_lt"><img src="/images/e.gif" style="width:6px; height:6px; border:none;"></td><td class="corn_ct"><img src="/images/e.gif" style="width:6px; height:6px; border:none;"></td><td class="corn_rt"><img src="/images/e.gif" style="width:6px; height:6px; border:none;"></td></tr>
        <tr>
            <td class="corn_lm"><img src="/images/e.gif" style="width:6px; height:6px; border:none;"></td>
            <td class="corn_content" style="width:100%" valign="top">
                <table cellspacing="0" cellpadding="5" border="0">
                    <tbody>
                        <tr valign="middle">
                            <td colspan="2">
                                <table cellspacing="0" cellpadding="7" border="0">
                                    <tbody>
                                        <tr valign="middle">
                                            <td>
                                                <a href="https://itunes.apple.com/us/app/ru-ticker-footprint-chart/id1092838399?l=ru&ls=1&mt=8">
                                                    <img width="45" border="3" height="45" title="Приложение для iPad в стилистике Bloomberg" alt="Приложение для iPad в стилистике Bloomberg" src="/images/icons-apple.png">
                                                </a>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <a target="_blank" href="https://itunes.apple.com/us/app/ru-ticker-footprint-chart/id1092838399?l=ru&ls=1&mt=8">
                                                    Приложение для iPhone и iPad
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="padding-top: 4px; padding-bottom: 4px;"><div class="line"></div></td>
                                        </tr>
                                        <tr valign="middle">
                                            <td>
                                                <a href="https://play.google.com/store/apps/details?id=ru.stockchart2">
                                                    <img width="45" border="3" height="45" title="Приложение для Android" alt="Приложение для Android" src="/images/icons-android.png">
                                                </a>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <a target="_blank" href="https://play.google.com/store/apps/details?id=ru.stockchart2">
                                                    Приложение для Android
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="padding-top: 4px; padding-bottom: 4px;"><div class="line"> </div></td>
                                        </tr>
                                        <tr valign="middle">
                                            <td>
                                                <a href="/Mobile">
                                                    <img width="45" border="3" height="45" title="Мобильная версия сайта" alt="Мобильная версия сайта" src="/images/icons-mobile.png">
                                                </a>
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <a target="_blank" href="/Mobile">
                                                    Мобильная версия сайта
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="corn_rm"></td>
        </tr>
        <tr><td class="corn_lb"></td><td class="corn_cb"></td><td class="corn_rb"></td></tr>
    </tbody>
</table>