:host {
  display: block;
  width: 100%;
  height: 100%;
}

.tm-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.tm-treemap {
  width: 100%;
  height: 100%;
  display: block;
}

/* tooltip */
.tm-tooltip {
  position: absolute;
  z-index: 9999;
  pointer-events: auto;
}

.tm-tooltip-body {
  width: 100%;
  height: 100%;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 8px 24px rgba(0,0,0,0.18);
  overflow: hidden;
  padding: 8px;
  box-sizing: border-box;
}
.tm-hidden { display: none; }

:host .sc-treemap-root > .sc-treemap-wrap {
  top: 0 !important;
  left: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}


:host .sc-treemap-title.tm-title-left {
  height: auto !important;      /* чтобы bottom:0 реально работал */
  line-height: normal !important;
}

:host .sc-treemap-title.tm-title-top {
  line-height: normal !important; /* чтобы не было странной вертикальной посадки текста */
}

/* 1) Отрубить stockChart box-sizing: content-box (иначе ломает px-математику) */
:host .sc-treemap,
:host .sc-treemap *,
:host .sc-treemap ::before,
:host .sc-treemap ::after {
  box-sizing: border-box !important;
}

/* 2) На всякий: убрать stockChart-отступ/смещение у корневого wrap (именно над самыми верхними заголовками) */
:host .sc-treemap-root > .sc-treemap-wrap {
  top: 0 !important;
  left: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

/* 3) Прижать stockChart line-height у заголовка (у тебя высота в px) */
:host .sc-treemap-title {
  line-height: normal !important;
  padding: 6px 8px !important; /* оставить твой дизайн, чтобы stockChart 0 .6em не вмешивался */
}

/* 4) Для левого вертикального тайтла обязательно убрать фиксированную высоту stockChart */
:host .sc-treemap-title.tm-title-left {
  height: auto !important;
}


