/* Общие стили для таблицы */
.custom-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.header, .row-header {
  font-weight: 600;
  background-color: #f5f5f5;
  padding: 12px 8px;
  border-bottom: 2px solid #e0e0e0;
}

th.mat-header-cell, td.mat-cell {
  padding: 16px 8px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #e0e0e0;
}

/* Стили для ссылок */
a {
  color: #1a73e8;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #0056b3;
}

/* Стили для иконки PDF */
.pdf-icon {
  font-size: 24px; /* Размер иконки PDF */
  color: #e53935; /* Красный цвет для обозначения PDF */
  transition: transform 0.3s ease; /* Анимация для увеличения */
}

.download-link:hover .pdf-icon {
  transform: scale(1.2); /* Увеличение иконки при наведении */
}

/* Строки таблицы */
.table-row:hover {
  background-color: #f1f1f1;
}

/* Анимация при наведении на строки */
.table-row {
  transition: background-color 0.2s ease-in-out;
}
