@{
    Layout = "_Layout";
}
    <link href="/Content/main.css" rel="stylesheet" type="text/css" />
    <link href="/Content/component-new-menu.css" rel="stylesheet" type="text/css" />
    <link href="/Content/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/index.css" rel="stylesheet" type="text/css" />
    <div class="leftsidebar">
        <partial name="LeftMenu" />
    </div>

