<div data-role="view" id="BinTab"  data-title="СПБ и Крипта" 
     data-use-native-scrolling="false"
      data-init="APP.BinTab.events.init">
    <header data-role="header">
        <div data-role="navbar">            
            <span data-role="view-title"></span>
            <a data-role="button" data-rel="drawer" href="#drawer" data-icon="drawer-icon" data-align="left"></a>
        </div>
    </header>
    <div data-role="content">
        <div id="tabstrip3">
            <ul>
                <li>СПБ биржа</li>
                <li>Binance</li>
            </ul>
            <div><div id="DayVolumeLeadersSPB"></div></div>
            <div><div id="DayVolumeLeadersBinance"></div></div>
        </div>
    </div>
</div>





