<div class="container">
  <ng-container *ngFor="let topic of topics">
    <mat-card class="blogblock">
      <mat-card-header>
        <mat-card-title>
          <a [routerLink]="['/ServiceNews/Content', topic.slug]">{{ topic.header }}</a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="topic-meta-row">
          <div class="topic-meta-main">
            <b>{{ topic.user }}</b>&nbsp;
            <i>{{ topic.date | date: 'd MMM yyyy, H:mm' }}</i>
          </div>
          <div class="topic-meta-actions">
            <span class="topic-likes-hint" *ngIf="!signed">Войдите, чтобы ставить лайки</span>
            <span class="topic-heart-count">{{ topic.likeCount }}</span>
            <button
              type="button"
              class="topic-heart-button"
              [class.topic-heart-button--active]="topic.isLikedByCurrentUser"
              [disabled]="!signed || topic.likeLoading"
              (click)="toggleLike(topic)"
              aria-label="Поставить лайк"
            >
              <mat-icon>{{ topic.isLikedByCurrentUser ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>
          </div>
        </div>
        <a
          *ngIf="topic.CommentCount > 0"
          class="topic-comments-link"
          [routerLink]="['/ServiceNews/Content', topic.slug]"
        >
          <span><b>Число ответов:</b> {{ topic.CommentCount }}</span>
        </a>

        <div [class.collapsed]="topic.collapsed" class="content" [innerHTML]="topic.text"></div>
        <p *ngIf="topic.textIsTooLong">
          <button type="button" class="collapse-toggle-button" (click)="toggleCollapse(topic)">
            {{ topic.collapsed ? 'Развернуть' : 'Свернуть' }}
          </button>
        </p>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <!-- Infinite scroll для всех размеров -->
  <div infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="300"
       [scrollWindow]="scrollWindow"
       [infiniteScrollContainer]="scrollContainer"
       [fromRoot]="fromRoot"
       (scrolled)="onScrollDown()">
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
</div>
