<div class="widerightsidebar">
  <div class="blogblock" *ngIf="isSignedIn">
   
    
    <!-- Контейнер для первых трех карточек -->
    <div class="row">
      <mat-card class="card-horizontal">
        

        <mat-card-header>
          <mat-card-title>Сделка по текущей рыночной цене</mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content-horizontal">
          <form>
            <!-- Элементы внутри должны быть расположены горизонтально -->
            <mat-form-field appearance="fill">
              <mat-label>Номер Портфеля</mat-label>
              <mat-select
                [(value)]="selectedPortfolioNumber"
                (selectionChange)="showPortfolioLocal()"
              >
                <mat-option
                  *ngFor="let portfolio of portfolios"
                  [value]="portfolio.value"
                >
                  {{ portfolio.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <app-ticker-autocomplete
              [(ticker)]="ticker"
              (tickerChange)="onTickerSelected($event)"
            ></app-ticker-autocomplete>
            <mat-form-field appearance="fill">
              <mat-label>Кол-во</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="quantity"
                name="quantity"
                min="1"
              />
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="buySell(1)">
              Купить
            </button>
            <button mat-raised-button color="warn" (click)="buySell(-1)">
              Продать
            </button>
          </form>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-horizontal">
        <mat-card-header>
          <mat-card-title>Манипуляции над портфелем</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content-horizontal">
          <form>
            <mat-form-field appearance="fill">
              <mat-label>Цена</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="price"
                name="price"
                min="1"
              />
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="buySpec()">
              Занести
            </button>
            <button mat-raised-button color="warn" (click)="cleanUp()">
              Сбросить
            </button>
          </form>
        </mat-card-content>
      </mat-card>

      <mat-card class="card-horizontal">
        <mat-card-header>
          <mat-card-title>Сравнение доходности портфелей</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content-horizontal">
          <form>
            <mat-form-field appearance="fill">
              <mat-label>Первый портфель</mat-label>
              <mat-select [(value)]="portfolioComp1">
                <mat-option
                  *ngFor="let portfolio of portfolios"
                  [value]="portfolio.value"
                >
                  {{ portfolio.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Второй портфель</mat-label>
              <mat-select [(value)]="portfolioComp2">
                <mat-option
                  *ngFor="let portfolio of portfolios"
                  [value]="portfolio.value"
                >
                  {{ portfolio.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="comparator()">
              Сравнить
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Карточка с портфелем на всю ширину -->
    <mat-card class="full-width-card">
      <mat-card-header>
        
        <mat-card-title>Виртуальный портфель</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-portfolio-table
          [(portfolioNumber)]="selectedPortfolioNumber"
          (tickerClick)="handleTickerClick($event)"
        ></app-portfolio-table>
      </mat-card-content>
    </mat-card>

    <mat-card class="full-width-card">
      <mat-card-header>
        <mat-card-title>Быстрый просмотр свечного графика</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div  style="width: 200px;">
          <app-combobox
            [label]="'Период'"
            [(value)]="params.period"
            [items]="periodList"
            (selectionChange)="applyPresetX($event)"
          ></app-combobox>
        </div>
        
  <div style="width: 100%; height: 600px; ">
    <app-footprint-widget
      [(minimode)]="minimode"
      [(params)]="params"
      [(caption)]="caption"
      [(presetIndex)]="presetIndex"
      [postInit]="footprintPostInit"
    ></app-footprint-widget>
  </div>
      </mat-card-content>
    </mat-card>

  </div>
  
  <div *ngIf="!isSignedIn">
    <h2>
      Зарегистрируйтесь и зайдите в систему, что бы получить возможность
      торговать виртуальными акциями. Регистрация и функционал бесплатны.
    </h2>
    <center><img src="assets/images/Portfolio.png" /></center>
  </div>
</div>


