.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    max-width: 900px;
    margin-top: 12px;
   
  }
  
  .card-horizontal {
    width: calc(33% - 12px);
    margin-left: 12px;
  }
  
  .card-content-horizontal {
    display: flex;
    justify-content: space-between;
  }
  
  .full-width-card {
    width: 100%;
    margin-top: 12px;
    max-width: 900px;
    margin-left: 12px;
    margin-right: 12px;
  }
  
  .widerightsidebar .mat-card {
    margin-bottom: 12px;
  }
  