<div data-role="view" id="RtsTab"  data-title="Фьючерсы и индексы" 
     data-use-native-scrolling="false"
      data-init="APP.RtsTab.events.init">
    <header data-role="header">
        <div data-role="navbar">            
            <span data-role="view-title"></span>
            <a data-role="button" data-rel="drawer" href="#drawer" data-icon="drawer-icon" data-align="left"></a>
        </div>
    </header>
    <div data-role="content">        
        <div id="tabstrip2">
            <ul>
                <li>Фьючерсы РТС</li>
                <li>Валюта</li>
                
            </ul>
            <div><div id="DayVolumeLeadersRTS"></div></div>
            <div><div id="DayVolumeLeadersETC"></div></div>            
        </div>
    </div>
</div>





