.markup-editor-dialog {
  padding: 10px;
}

.markup-editor-fieldset {
  margin-top: 10px;
}

.markup-editor-list {
  list-style-type: none;
  padding: 0;
}

.markup-editor-list li {
  margin-bottom: 10px;
}


fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 0px;
  border-style: none;
  border-color: rgb(192, 192, 192);
  border-image: initial;
}


mat-button-toggle {
  font-size: 16px; /* Или другой желаемый размер */
  padding: 2px 4px; /* Минимальные отступы */
  line-height: 1; /* Уменьшает высоту строки */
}

.mat-button-toggle-checked {
  
  padding: 2px 4px; /* Уменьшает отступы в выбранных кнопках */
}


.rotate-icon {
  transform: rotate(90deg);
}