

:host {
  display: inline-flex;  // Делаем элемент "inline"
  align-items: center;   // Выравнивание по вертикали
  justify-content: center;
}

.icon-container {
  display: inline-flex;  // Контейнер иконки делаем "inline"
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
  border-radius: 50%; // Обрезаем по кругу
  border: 1px solid #ccc; // Опционально
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.ticker-letter {
  width: 100%;
  height: 100%;
  font-size: calc(0.8 * var(--radius)); // Размер шрифта можно подкорректировать, если буква не помещается
  font-weight: bold;
  color: #333;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}