.bottom-component {
  height: 50vh; /* ��������� ������ � 100% �� ������ ������ */
  background-color: lightgrey; /* ������ ����� ���� */
}

app-footprint {
  height: 100%; /* ���������� ������ ���������� � 100% ������ ������������� �������� */
  width: 100%;
}